# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases & local files
db.sqlite3
db.sqlite3-journal
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
